<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/vue.js" ></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	</head>
	<body>
 <div class="page-top">
     <div class="page-content wrap">
         <h2>计划任务表</h2>
     </div>
 </div>
 <div class="main wrap">
     <h3 class="big-title">添加任务：</h3>
     <input
             @keyup.enter = "addTodo"
             v-model="todo"
             type="text"                
             placeholder="例如：吃饭睡觉打豆豆：   提示：+回车即可添加任务"
             class="task-input" />  <!-- addTodo(123,$event)行间传参的时候，vue里面还要用事件对象的话就用$event-->
     <ul class="task-count clearFix">
         <li class="fl" style="color: #ff8000;margin-left: 20px;">
             <!--{{
                 list.filter(function(item){
                     return !item.isChecked
                 }).length
             }}-->
             {{ noCheckLength }}
             个未完成任务
         </li>
         <li class="action fr">
             <a href="#all" class="fl" :class="{active:false}">所有任务</a>
             <a href="#unfinished" class="fl">未完成任务</a>
             <a href="#finished" class="fl">已完成任务</a>
         </li>
     </ul>
     <h3 class="big-title">任务列表：</h3>
     <div class="tasks">
         <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
         <!--<span class="no-task-tip tip-toggle">
             <input type="checkbox" checked="" class="toggle" />
             <span>全部标记为已完成</span>
         </span>-->
         <ul class="todo-list" v-show="list.length">
             <li class="todo" :class="{completed: item.isChecked,editing: item === editorTodos}" v-for="item in filterList">
                 <div class="view">
                     <input class="fl" type="checkbox" v-model="item.isChecked"  class="toggle"><!-- 将单选按钮的数据进行双向绑定，选中与不选中传值 -->
                     <!--<label class="fl" for=""><a href="javascript:;" v-text="item.title"></a></label>-->
                     <label class="fl" for=""><a href="javascript:;" @dblclick="edtorTodo(item)">{{ item.title }}</a></label>
                     <a href="javascript:;" class="destroy fr" @click="delTodo(item)">删除</a>
                 </div>
                 <input @blur="edtorTodoed(item)" @keyup.13="edtorTodoed(item)" @keyup.esc="cancelTodo(item)" v-focus="editorTodos === item" type="text" class="edit" v-model="item.title" />
             </li>
         </ul>
     </div>
 </div>
</body>
<script src="js/liuyan.js" ></script>
</html>
